<a href="https://colab.research.google.com/github/PRIMEADAWAS/CEB_Assignment/blob/main/RADI608_A4_PasitSupholkhan_(Assignment_K_Mean_Clustering_%26_Apriori).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# RADI608_A4_PasitSupholkhan 6536115 (Assignment K-Mean Clustering & Apriori)

**Assignment : Assignment K-Mean Clustering & Apriori**

RADI 608, 602: Data Mining and Machine Learning 2022

# K-mean Assignment

# Find (by manual and show calculation steps) the appropriate centroids by using a K-means clustering with Euclidean distance (K = 2)
student #4

Sample and C1 = (5,2), C2 = (5,4)

|    |   feature #1 |   feature #2 |
|---:|-------------:|-------------:|
|  0 |            1 |            1 |
|  1 |            2 |            1 |
|  2 |            1 |            3 |
|  3 |            5 |            2 |
|  4 |            4 |            3 |
|  5 |            5 |            4 |

## Round 1

![image.png]()

Then find eucledian distance from data point to each centroid and label to the nearest

- Point : 0 [1 1]
 - C1 [5. 2.]
$$distToC1 = \sqrt{(5.000-1.000)^2 + (2.000-1.000)^2)} = 4.123$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-1.000)^2 + (4.000-1.000)^2)} = 5.000$$
- Point : 1 [2 1]
 - C1 [5. 2.]
$$distToC1 = \sqrt{(5.000-2.000)^2 + (2.000-1.000)^2)} = 3.162$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-2.000)^2 + (4.000-1.000)^2)} = 4.243$$
- Point : 2 [1 3]
 - C1 [5. 2.]
$$distToC1 = \sqrt{(5.000-1.000)^2 + (2.000-3.000)^2)} = 4.123$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-1.000)^2 + (4.000-3.000)^2)} = 4.123$$
- Point : 3 [5 2]
 - C1 [5. 2.]
$$distToC1 = \sqrt{(5.000-5.000)^2 + (2.000-2.000)^2)} = 0.000$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-5.000)^2 + (4.000-2.000)^2)} = 2.000$$
- Point : 4 [4 3]
 - C1 [5. 2.]
$$distToC1 = \sqrt{(5.000-4.000)^2 + (2.000-3.000)^2)} = 1.414$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-4.000)^2 + (4.000-3.000)^2)} = 1.414$$
- Point : 5 [5 4]
 - C1 [5. 2.]
$$distToC1 = \sqrt{(5.000-5.000)^2 + (2.000-4.000)^2)} = 2.000$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-5.000)^2 + (4.000-4.000)^2)} = 0.000$$


|    |   distC1 |   distC2 |   labels |
|---:|---------:|---------:|---------:|
|  0 |  4.12311 |  5       |        1 |
|  1 |  3.16228 |  4.24264 |        1 |
|  2 |  4.12311 |  4.12311 |        1 |
|  3 |  0       |  2       |        1 |
|  4 |  1.41421 |  1.41421 |        1 |
|  5 |  2       |  0       |        2 |

## Round 2

Find mean location (x,y) points in each labels group and update  
new C1 = ((1+2+1+5+4)/5,(1+1+3+2+3)/5) = (2.6, 2 ), C2 = (5 , 4 ) 

![image.png]()

Then find eucledian distance from data point to each centroid and label to the nearest

- Point : 0 [1 1]
 - C1 [2.6 2. ]
$$distToC1 = \sqrt{(2.600-1.000)^2 + (2.000-1.000)^2)} = 1.887$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-1.000)^2 + (4.000-1.000)^2)} = 5.000$$
- Point : 1 [2 1]
 - C1 [2.6 2. ]
$$distToC1 = \sqrt{(2.600-2.000)^2 + (2.000-1.000)^2)} = 1.166$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-2.000)^2 + (4.000-1.000)^2)} = 4.243$$
- Point : 2 [1 3]
 - C1 [2.6 2. ]
$$distToC1 = \sqrt{(2.600-1.000)^2 + (2.000-3.000)^2)} = 1.887$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-1.000)^2 + (4.000-3.000)^2)} = 4.123$$
- Point : 3 [5 2]
 - C1 [2.6 2. ]
$$distToC1 = \sqrt{(2.600-5.000)^2 + (2.000-2.000)^2)} = 2.400$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-5.000)^2 + (4.000-2.000)^2)} = 2.000$$
- Point : 4 [4 3]
 - C1 [2.6 2. ]
$$distToC1 = \sqrt{(2.600-4.000)^2 + (2.000-3.000)^2)} = 1.720$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-4.000)^2 + (4.000-3.000)^2)} = 1.414$$
- Point : 5 [5 4]
 - C1 [2.6 2. ]
$$distToC1 = \sqrt{(2.600-5.000)^2 + (2.000-4.000)^2)} = 3.124$$
 - C2 [5. 4.]
$$distToC2 = \sqrt{(5.000-5.000)^2 + (4.000-4.000)^2)} = 0.000$$

|    |   distC1 |   distC2 |   labels |
|---:|---------:|---------:|---------:|
|  0 |  1.8868  |  5       |        1 |
|  1 |  1.16619 |  4.24264 |        1 |
|  2 |  1.8868  |  4.12311 |        1 |
|  3 |  2.4     |  2       |        2 |
|  4 |  1.72047 |  1.41421 |        2 |
|  5 |  3.1241  |  0       |        2 |

## Round 3

Find mean location (x,y) points in each labels group and update  
new C1 =((1+2+1)/3,(1+1+3)/3) = (1.33333333, 1.66666667 ),  
C2 = ((5+4+5)/3,(2+3+4)/3) = (4.66666667, 3 )  

![image.png]()

Then find eucledian distance from data point to each centroid and label to the nearest

- Point : 0 [1 1]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-1.000)^2 + (1.667-1.000)^2)} = 0.745$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-1.000)^2 + (3.000-1.000)^2)} = 4.177$$
- Point : 1 [2 1]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-2.000)^2 + (1.667-1.000)^2)} = 0.943$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-2.000)^2 + (3.000-1.000)^2)} = 3.333$$
- Point : 2 [1 3]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-1.000)^2 + (1.667-3.000)^2)} = 1.374$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-1.000)^2 + (3.000-3.000)^2)} = 3.667$$
- Point : 3 [5 2]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-5.000)^2 + (1.667-2.000)^2)} = 3.682$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-5.000)^2 + (3.000-2.000)^2)} = 1.054$$
- Point : 4 [4 3]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-4.000)^2 + (1.667-3.000)^2)} = 2.981$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-4.000)^2 + (3.000-3.000)^2)} = 0.667$$
- Point : 5 [5 4]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-5.000)^2 + (1.667-4.000)^2)} = 4.346$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-5.000)^2 + (3.000-4.000)^2)} = 1.054$$

|    |   distC1 |   distC2 |   labels |
|---:|---------:|---------:|---------:|
|  0 | 0.745356 | 4.17665  |        1 |
|  1 | 0.942809 | 3.33333  |        1 |
|  2 | 1.37437  | 3.66667  |        1 |
|  3 | 3.68179  | 1.05409  |        2 |
|  4 | 2.98142  | 0.666667 |        2 |
|  5 | 4.34613  | 1.05409  |        2 |

## Round 4

Find mean location (x,y) points in each labels group and update  
new C1 =((1+2+1)/3,(1+1+3)/3) = (1.33333333, 1.66666667 ),  
C2 = ((5+4+5)/3,(2+3+4)/3) = (4.66666667, 3 )

![image.png]()

Then find eucledian distance from data point to each centroid and label to the nearest

- Point : 0 [1 1]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-1.000)^2 + (1.667-1.000)^2)} = 0.745$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-1.000)^2 + (3.000-1.000)^2)} = 4.177$$
- Point : 1 [2 1]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-2.000)^2 + (1.667-1.000)^2)} = 0.943$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-2.000)^2 + (3.000-1.000)^2)} = 3.333$$
- Point : 2 [1 3]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-1.000)^2 + (1.667-3.000)^2)} = 1.374$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-1.000)^2 + (3.000-3.000)^2)} = 3.667$$
- Point : 3 [5 2]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-5.000)^2 + (1.667-2.000)^2)} = 3.682$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-5.000)^2 + (3.000-2.000)^2)} = 1.054$$
- Point : 4 [4 3]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-4.000)^2 + (1.667-3.000)^2)} = 2.981$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-4.000)^2 + (3.000-3.000)^2)} = 0.667$$
- Point : 5 [5 4]
 - C1 [1.33333333 1.66666667]
$$distToC1 = \sqrt{(1.333-5.000)^2 + (1.667-4.000)^2)} = 4.346$$
 - C2 [4.66666667 3.        ]
$$distToC2 = \sqrt{(4.667-5.000)^2 + (3.000-4.000)^2)} = 1.054$$

|    |   distC1 |   distC2 |   labels |
|---:|---------:|---------:|---------:|
|  0 | 0.745356 | 4.17665  |        1 |
|  1 | 0.942809 | 3.33333  |        1 |
|  2 | 1.37437  | 3.66667  |        1 |
|  3 | 3.68179  | 1.05409  |        2 |
|  4 | 2.98142  | 0.666667 |        2 |
|  5 | 4.34613  | 1.05409  |        2 |

## Calculate C1,C2

Find mean location (x,y) points in each labels group and update  
new C1 =((1+2+1)/3,(1+1+3)/3) = (1.33333333, 1.66666667 ),  
C2 = ((5+4+5)/3,(2+3+4)/3) = (4.66666667, 3 )  
![image.png]()

## At round 4, there are no change in distC1, distC2, labels and the centroids are C1 = (1.33333333, 1.66666667 ), C2 = (4.66666667, 3 ) for k = 2 groups

# Apriori Assignment

## a. (4 points) From the below transaction database, generate the frequent itemset and association rules.  
Student#4: use a minimum support threshold = 50%

In [ ]:
!pip install mlxtend

In [57]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [58]:
dataset = [["onions", "potatoes", "burger", "cereal"],
["potato chip", "burger","beer", "apple"],
["onions", "potatoes", "potato chip", "burger", "beer"],
["eggs", "onions", "potatoes", "cereal", "potato chip", "burger"],
["potato chip", "beer", "onions"]]
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df_food = pd.DataFrame(te_ary, columns=te.columns_)
df_food

   apple   beer  burger  cereal   eggs  onions  potato chip  potatoes
0  False  False    True    True  False    True        False      True
1   True   True    True   False  False   False         True     False
2  False   True    True   False  False    True         True      True
3  False  False    True    True   True    True         True      True
4  False   True   False   False  False    True         True     False

### $\color{green} {Frequent itemset}$
minimum support threshold = 50%

In [59]:
frequent_itemsetsA = apriori(df_food, min_support=0.5, use_colnames=True)
frequent_itemsetsA

    support                    itemsets
0       0.6                      (beer)
1       0.8                    (burger)
2       0.8                    (onions)
3       0.8               (potato chip)
4       0.6                  (potatoes)
5       0.6         (potato chip, beer)
6       0.6            (onions, burger)
7       0.6       (potato chip, burger)
8       0.6          (potatoes, burger)
9       0.6       (potato chip, onions)
10      0.6          (onions, potatoes)
11      0.6  (onions, potatoes, burger)

### $\color{green} {Association Rules}$
Lift more than 1  
because the lift value is a measure of importance of a rule
if lift > 1 X->Y :  
people who buy item X will buy item Y too

In [60]:
rulesA = association_rules(frequent_itemsetsA, metric="lift", min_threshold=1)
rulesA

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(potato chip),(beer),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
1,(beer),(potato chip),0.6,0.8,0.6,1.00,1.250000,0.12,inf
2,(potatoes),(burger),0.6,0.8,0.6,1.00,1.250000,0.12,inf
3,(burger),(potatoes),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
4,(onions),(potatoes),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
5,(potatoes),(onions),0.6,0.8,0.6,1.00,1.250000,0.12,inf
6,"(onions, potatoes)",(burger),0.6,0.8,0.6,1.00,1.250000,0.12,inf
7,"(onions, burger)",(potatoes),0.6,0.6,0.6,1.00,1.666667,0.24,inf
8,"(burger, potatoes)",(onions),0.6,0.8,0.6,1.00,1.250000,0.12,inf
9,(onions),"(burger, potatoes)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6
10,(potatoes),"(onions, burger)",0.6,0.6,0.6,1.00,1.666667,0.24,inf
11,(burger),"(onions, potatoes)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6

filter_rules  
filter only rules that have lift more than 1 and confidence value > 0.75 because almost data has 100% or 75% confidence which is lowest then I decide to remove lowest probability

In [61]:
filter_rulesA = rulesA[ (rulesA['lift'] >= 1) & (rulesA['confidence'] > 0.75)]
filter_rulesA

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(beer),(potato chip),0.6,0.8,0.6,1.0,1.250000,0.12,inf
2,(potatoes),(burger),0.6,0.8,0.6,1.0,1.250000,0.12,inf
5,(potatoes),(onions),0.6,0.8,0.6,1.0,1.250000,0.12,inf
6,"(onions, potatoes)",(burger),0.6,0.8,0.6,1.0,1.250000,0.12,inf
7,"(onions, burger)",(potatoes),0.6,0.6,0.6,1.0,1.666667,0.24,inf
8,"(burger, potatoes)",(onions),0.6,0.8,0.6,1.0,1.250000,0.12,inf
10,(potatoes),"(onions, burger)",0.6,0.6,0.6,1.0,1.666667,0.24,inf

## b. (3 points) From prescriptionDB.csv Perform an Apriorialgorithm to generate the association rules by using the follow conditions  
Student#4 support=0.01, confidence=0.50, and find the rule of is LHS=“ANTC” or
“ARCX” or “XAND”

In [62]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
url = 'https://raw.githubusercontent.com/PRIMEADAWAS/CEB_Assignment/main/RADI%20608%2C%20602%20Data%20Mining%20and%20Machine%20Learning/Assignment%20Apriori%20%26%20K-Mean%20Clustering/prescriptionDB.csv'
# url = r'/content/drive/MyDrive/Dataset/Assignment/prescriptionDB.csv'
df = pd.read_csv(url)
df.head()

   Item ID Code.1 Code.2 Code.3 Code.4
0        1   ALGY   PARI    NaN    NaN
1        2   ALGY   PARI    NaN    NaN
2        3   ALGY   PRVF    NaN    NaN
3        4   ALGY   PARI    NaN    NaN
4        5   ALGY   PARI    NaN    NaN

In [63]:
df.info()
# replace nan value to '-'
df.fillna('-', inplace=True)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3612 entries, 0 to 3611
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Item ID  3612 non-null   int64
 1   Code.1   3612 non-null   object
 2   Code.2   3612 non-null   object
 3   Code.3   51 non-null     object
 4   Code.4   1 non-null      object
dtypes: int64(1), object(4)
memory usage: 141.2+ KB

   Item ID Code.1 Code.2 Code.3 Code.4
0        1   ALGY   PARI      -      -
1        2   ALGY   PARI      -      -
2        3   ALGY   PRVF      -      -
3        4   ALGY   PARI      -      -
4        5   ALGY   PARI      -      -

In [64]:
dataset2 = df.iloc[:,1:].values.tolist()
dataset2[0:10]

[['ALGY', 'PARI', '-', '-'],
 ['ALGY', 'PARI', '-', '-'],
 ['ALGY', 'PRVF', '-', '-'],
 ['ALGY', 'PARI', '-', '-'],
 ['ALGY', 'PARI', '-', '-'],
 ['ALGY', 'DEXI', '-', '-'],
 ['ALGY', 'ARCX', '-', '-'],
 ['ALGY', 'PARI', '-', '-'],
 ['ALGY', 'PARI', '-', '-'],
 ['ALGY', 'NEXM', '-', '-']]

In [65]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_ary = te.fit(dataset2).transform(dataset2)
df_drug = pd.DataFrame(te_ary, columns=te.columns_)
df_drug

,-,ALGY,ALHY,ANTC,ANTT,ARCX,ASA.,ASPT,CAPN,CELB,...,MUCT,NAPX,NEXM,OMPZ,PARI,PRVF,ULCF,ULSN,VOLS,XAND
0,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3607,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
3608,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3609,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3610,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3611,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [66]:
# first column '-' should be remove
te.columns_

['-',
 'ALGY',
 'ALHY',
 'ANTC',
 'ANTT',
 'ARCX',
 'ASA.',
 'ASPT',
 'CAPN',
 'CELB',
 'CLIR',
 'COTL',
 'DEXI',
 'DICF',
 'FAFX',
 'FLAM',
 'GAST',
 'GAVD',
 'GAVI',
 'IBUP',
 'INDM',
 'LOSC',
 'MEFN',
 'MELO',
 'MOBC',
 'MUCT',
 'NAPX',
 'NEXM',
 'OMPZ',
 'PARI',
 'PRVF',
 'ULCF',
 'ULSN',
 'VOLS',
 'XAND']

In [67]:
df_drug.drop('-',axis=1,inplace=True)
df_drug

,ALGY,ALHY,ANTC,ANTT,ARCX,ASA.,ASPT,CAPN,CELB,CLIR,...,MUCT,NAPX,NEXM,OMPZ,PARI,PRVF,ULCF,ULSN,VOLS,XAND
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3607,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
3608,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3609,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3610,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3611,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [68]:
def encode_units(x):
  if x <= 0:
    return 0
  if x >= 1:
    return 1
drug_sets = df_drug.applymap(encode_units)
drug_sets

,ALGY,ALHY,ANTC,ANTT,ARCX,ASA.,ASPT,CAPN,CELB,CLIR,...,MUCT,NAPX,NEXM,OMPZ,PARI,PRVF,ULCF,ULSN,VOLS,XAND
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3607,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3608,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3609,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3610,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3611,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

### $\color{green} {Frequent itemset}$
minimum support threshold = 1% (support=0.01)

In [69]:
frequent_itemsetsB = apriori(drug_sets, min_support=0.01, use_colnames=True)
frequent_itemsetsB

     support      itemsets
0   0.030177        (ALGY)
1   0.060631        (ANTC)
2   0.137874        (ARCX)
3   0.284884        (ASA.)
4   0.047619        (ASPT)
5   0.015227        (CAPN)
6   0.083056        (CELB)
7   0.011074        (COTL)
8   0.011351        (DICF)
9   0.030177        (GAVI)
10  0.039037        (IBUP)
11  0.034330        (MELO)
12  0.020487        (MOBC)
13  0.023533        (MUCT)
14  0.113511        (NAPX)
15  0.045958        (NEXM)
16  0.746678        (OMPZ)
17  0.048173        (PARI)
18  0.052326        (PRVF)
19  0.115725        (XAND)
20  0.032946  (OMPZ, ANTC)
21  0.011351  (ANTC, XAND)
22  0.098007  (ARCX, OMPZ)
23  0.215947  (ASA., OMPZ)
24  0.012458  (PRVF, ASA.)
25  0.042082  (ASPT, OMPZ)
26  0.057863  (CELB, OMPZ)
27  0.012182  (GAVI, OMPZ)
28  0.031008  (IBUP, OMPZ)
29  0.029347  (MELO, OMPZ)
30  0.015504  (MOBC, OMPZ)
31  0.103821  (NAPX, OMPZ)
32  0.063953  (OMPZ, XAND)

### $\color{green} {Association Rules}$
Lift more than 1  
because the lift value is a measure of importance of a rule
if lift > 1 X->Y :  
people who buy item X will buy item Y too

In [70]:
rulesB = association_rules(frequent_itemsetsB, metric="lift", min_threshold=1)
rulesB

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ANTC),(XAND),0.060631,0.115725,0.011351,0.187215,1.617749,0.004334,1.087956
1,(XAND),(ANTC),0.115725,0.060631,0.011351,0.098086,1.617749,0.004334,1.041528
2,(ASA.),(OMPZ),0.284884,0.746678,0.215947,0.758017,1.015187,0.003231,1.046862
3,(OMPZ),(ASA.),0.746678,0.284884,0.215947,0.289210,1.015187,0.003231,1.006087
4,(ASPT),(OMPZ),0.047619,0.746678,0.042082,0.883721,1.183537,0.006526,2.178571
5,(OMPZ),(ASPT),0.746678,0.047619,0.042082,0.056359,1.183537,0.006526,1.009262
6,(IBUP),(OMPZ),0.039037,0.746678,0.031008,0.794326,1.063814,0.001860,1.231670
7,(OMPZ),(IBUP),0.746678,0.039037,0.031008,0.041528,1.063814,0.001860,1.002599
8,(MELO),(OMPZ),0.034330,0.746678,0.029347,0.854839,1.144856,0.003713,1.745109
9,(OMPZ),(MELO),0.746678,0.034330,0.029347,0.039303,1.144856,0.003713,1.005176
10,(MOBC),(OMPZ),0.020487,0.746678,0.015504,0.756757,1.013498,0.000206,1.041436
11,(OMPZ),(MOBC),0.746678,0.020487,0.015504,0.020764,1.013498,0.000206,1.000282
12,(NAPX),(OMPZ),0.113511,0.746678,0.103821,0.914634,1.224938,0.019065,2.967489
13,(OMPZ),(NAPX),0.746678,0.113511,0.103821,0.139043,1.224938,0.019065,1.029656

minimum confidence=0.50

In [71]:
filter_rulesB = rulesB[ (rulesB['lift'] >= 1) & (rulesB['confidence'] >= 0.5) ]
filter_rulesB

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(ASA.),(OMPZ),0.284884,0.746678,0.215947,0.758017,1.015187,0.003231,1.046862
4,(ASPT),(OMPZ),0.047619,0.746678,0.042082,0.883721,1.183537,0.006526,2.178571
6,(IBUP),(OMPZ),0.039037,0.746678,0.031008,0.794326,1.063814,0.001860,1.231670
8,(MELO),(OMPZ),0.034330,0.746678,0.029347,0.854839,1.144856,0.003713,1.745109
10,(MOBC),(OMPZ),0.020487,0.746678,0.015504,0.756757,1.013498,0.000206,1.041436
12,(NAPX),(OMPZ),0.113511,0.746678,0.103821,0.914634,1.224938,0.019065,2.967489

###  find the rule of is LHS=“ANTC” or “ARCX” or “XAND  
with filter lift > 1 and confidence >=0.50 : no result

In [72]:
filter_rulesB[ (filter_rulesB['antecedents'] == frozenset({'ANTC'})) | (filter_rulesB['antecedents'] == frozenset({'ARCX'})) |(filter_rulesB['antecedents'] == frozenset({'XAND'})) ]

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

but only rules lift > 1. It has few result with very low confidence

In [73]:
rulesB[ (rulesB['antecedents'] == frozenset({'ANTC'})) | (rulesB['antecedents'] == frozenset({'ARCX'})) |(rulesB['antecedents'] == frozenset({'XAND'})) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(ANTC),(XAND),0.060631,0.115725,0.011351,0.187215,1.617749,0.004334,1.087956
1,(XAND),(ANTC),0.115725,0.060631,0.011351,0.098086,1.617749,0.004334,1.041528

## c. (3 points) From prescriptionDB.csv  Perform an Apriorialgorithm to generate the association rules by selecting the top 20 rules at support=0.0001 and the LHS has at least two drugs in the basket.

In [74]:
frequent_itemsetsC = apriori(drug_sets, min_support=0.0001, use_colnames=True)
frequent_itemsetsC['length'] = frequent_itemsetsC['itemsets'].apply(lambda x: len(x))
frequent_itemsetsC.head(10)

    support itemsets  length
0  0.030177   (ALGY)       1
1  0.000554   (ALHY)       1
2  0.060631   (ANTC)       1
3  0.003599   (ANTT)       1
4  0.137874   (ARCX)       1
5  0.284884   (ASA.)       1
6  0.047619   (ASPT)       1
7  0.015227   (CAPN)       1
8  0.083056   (CELB)       1
9  0.000277   (CLIR)       1

In [75]:
rulesC = association_rules(frequent_itemsetsC, metric="lift", min_threshold=1)
rulesC['antecedents_length'] = rulesC['antecedents'].apply(lambda x: len(x))
rulesC.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length
0,(ANTT),(ALGY),0.003599,0.030177,0.000277,0.076923,2.549047,0.000168,1.050641,1
1,(ALGY),(ANTT),0.030177,0.003599,0.000277,0.009174,2.549047,0.000168,1.005627,1
2,(DEXI),(ALGY),0.003322,0.030177,0.000831,0.250000,8.284404,0.000730,1.293097,1
3,(ALGY),(DEXI),0.030177,0.003322,0.000831,0.027523,8.284404,0.000730,1.024886,1
4,(ALGY),(FAFX),0.030177,0.000554,0.000277,0.009174,16.568807,0.000260,1.008700,1

### Perform an Apriorialgorithm to generate the association rules by selecting the 
top 20 rules at support=0.0001 and the LHS has at least two drugs in the basket. order by confidence

In [76]:
rulesC[(rulesC['antecedents_length'] >= 2) & (rulesC['support'] >= 0.0001)].sort_values(by=['confidence'],ascending=False).head(20)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length
248,"(MELO, PARI, XAND)",(OMPZ),0.000277,0.746678,0.000277,1.000000,1.339266,0.000070,inf,3
249,"(PARI, XAND, OMPZ)",(MELO),0.000277,0.034330,0.000277,1.000000,29.129032,0.000267,inf,3
246,"(MELO, PARI, OMPZ)",(XAND),0.000277,0.115725,0.000277,1.000000,8.641148,0.000245,inf,3
232,"(MELO, PARI)",(XAND),0.000277,0.115725,0.000277,1.000000,8.641148,0.000245,inf,2
240,"(ULSN, MUCT)",(PARI),0.000277,0.048173,0.000277,1.000000,20.758621,0.000264,inf,2
184,"(CELB, GAVI)",(OMPZ),0.000277,0.746678,0.000277,1.000000,1.339266,0.000070,inf,2
182,"(NAPX, CAPN)",(OMPZ),0.000277,0.746678,0.000277,1.000000,1.339266,0.000070,inf,2
178,"(ANTT, ASA.)",(OMPZ),0.000277,0.746678,0.000277,1.000000,1.339266,0.000070,inf,2
212,"(ULSN, GAVI)",(PRVF),0.000277,0.052326,0.000277,1.000000,19.111111,0.000262,inf,2
247,"(MELO, XAND, OMPZ)",(PARI),0.000277,0.048173,0.000277,1.000000,20.758621,0.000264,inf,3
218,"(IBUP, XAND)",(PRVF),0.000277,0.052326,0.000277,1.000000,19.111111,0.000262,inf,2
251,"(MELO, PARI)","(XAND, OMPZ)",0.000277,0.063953,0.000277,1.000000,15.636364,0.000259,inf,2
222,"(INDM, MUCT)",(OMPZ),0.000277,0.746678,0.000277,1.000000,1.339266,0.000070,inf,2
158,"(ALGY, GAVI)",(XAND),0.000277,0.115725,0.000277,1.000000,8.641148,0.000245,inf,2
228,"(MELO, PARI)",(OMPZ),0.000277,0.746678,0.000277,1.000000,1.339266,0.000070,inf,2
197,"(CELB, ULCF)",(NEXM),0.000554,0.045958,0.000277,0.500000,10.879518,0.000251,1.908084,2
180,"(PRVF, OMPZ)",(ASA.),0.000554,0.284884,0.000277,0.500000,1.755102,0.000119,1.430233,2
210,"(PRVF, ULSN)",(GAVI),0.000554,0.030177,0.000277,0.500000,16.568807,0.000260,1.939646,2
238,"(PARI, ULSN)",(MUCT),0.000831,0.023533,0.000277,0.333333,14.164706,0.000257,1.464701,2
216,"(PRVF, IBUP)",(XAND),0.000831,0.115725,0.000277,0.333333,2.880383,0.000181,1.326412,2